<div class="body-style-box">

<h2>Create Post</h2>

<form action="<%= posts_url %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <label>Title<br>
    <input type="text" name="post[title]" value="">
  </label>
  <br>
  <br>
  <label>URL<br>
    <input type="text" name="post[url]" value="">
  </label>
  <br>
  <br>
  <label>Content<br>
    <textarea name="post[content]" rows="8" cols="50"></textarea>
  </label>
  <br>
  <br>
  Choose subs:<br>
  <% Sub.all.each do |sub| %>
    <input type="checkbox" name="post[sub_ids][]" value="<%= sub.id %>"> <%= sub.title %><br>
  <% end %>
  <br>
  <input type="submit" class="btn btn-primary" value="Submit">
  
</form>
</div>